:root {
  --f-12: 12px;
  --f-14: 14px;
  --f-16: 16px;
  --f-18: 18px;
  --f-22: 22px;
  --f-24: 24px;
  --f-28: 28px;
  --f-42: 42px;
  --f-32: 32px;

  --border-radius-8: 8px;

  --price_font: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  --normal-font: Arial;
}